langchain-deepseek
langchain>=0.2.0
firebase-admin
langchain-core
langchain-community
streamlit
pydeck
geopandas
matplotlib
python-dotenv
pandas
langchain_experimental
utils
folium
streamlit_folium
tabulate
branca




